  body { 
      background-color: black;
      color: white;
  }

  .day-mode {
     background-color: wheat;
     color: black;
  }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: black;
}


h1 {
    text-align: center;
}

h2 {
    text-align: justify;
}

h3{
    color:wheat;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul {
    padding: 0;
}

a {
    text-decoration: underline; 
    color: gold;
}
a:hover {
    text-decoration: none;
}

p {
    text-align: center;
    color: wheat;
}

/* mission section */

.mission {
   margin-top: 100px;
   height: 400px;
}

.mission img {
    display: inline-flex;
    width: 100%;
}

/* portfolio section */

.portfolio {
    height: 500px;
}

.portfolio h3, img {
    display: inline-flex;
    flex-direction: column;
}

/* team section */
.team {
    height: 400px;
}
.team h3, img {
    display: inline-flex;
    flex-direction: column;
    margin: 2px;
}

/* footer section */

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 1.5em;
    padding: .5em;
    background-color: black;
}
.year {
  padding-left: .5em;  
}

.location {
 padding-right: 1.8em;
}

/* info section */

.info {
    height: 500px;
    text-align: center;
    color: gold;
}

.info img {
       width: 100%;
}

@media only screen and (max-width: 600px){
   ul {
       justify-content: space-around;
   }

    .mission {
       height: auto;
   }
   
    h3, img{
        display: block;
        width: 100%;
    }

    .portfolio {
        height: 1000px;
    }

    .team {
        height: 1000px;
    }

}